<ion-view view-title="Buscar Usuario">
  <ion-content class="padding">
    <!-- ********************* SEARCH USER ******************************** -->
    <div class="list" ng-show="!paciente">
      <label class="item item-input item-floating-label">
        <span class="input-label">CURP Paciente</span>
        <input type="text" placeholder="CURP Paciente" ng-model="user.curp">
      </label>
      
      <div class="button button-assertive" ng-disabled="(!user.curp)" ng-click="locateUser()">Aceptar</div>
    </div>
  <!-- ************************** USER DATA ***************************** -->
    <div>
        {{paciente}}
    </div>
  </ion-content>
</ion-view>
