<ion-view view-title="Home">
    <ion-content class="bg-light">
    <div class="logo">
    	<img src="img/logotype.png" class="">
    </div>
        <div class="row">
            <div class="col-50 cn">
                <div class="inner">
                    <div class="card button home-button" ui-sref="checate" style="background-image: url('img/button1.jpg');"></div>
                    <div class=" button button-stable button-full button-main" ui-sref="checate">Evalúate</div>
                </div>
            </div>
            <div class="col-50 cn">
                <div class="inner">
                <div class="card button home-button" ui-sref="register" style="background-image: url('img/button2.jpg');"></div>
                    <div class=" button button-positive button-full button-main" ui-sref="register">Registrate</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
